blinker==1.4
coverage==4.0.0
dojson==0.1.1
Flask==0.10.1
Flask-Testing==0.4.1
httpretty==0.8.10
intbitset==2.0
git+https://github.com/inspirehep/invenio-access@master#egg=invenio-access==0.2.1.dev20151005
invenio-accounts==0.2.0
invenio-base==0.3.1
invenio-celery==0.1.1
invenio-collections==0.3.0
invenio-documents==0.1.0.post2
git+https://github.com/inspirehep/invenio-ext@master#egg=invenio-ext==0.3.3.dev20151007
invenio-formatter==0.2.2.post1
invenio-pidstore==0.1.2
git+https://github.com/inspirehep/invenio-search@master#egg=invenio-search==0.1.6.dev20151006
invenio-testing==0.1.1
invenio-upgrader==0.2.0
jsonpatch==1.11
jsonschema==2.5.1
mock==1.0.1
pytest==2.8.0
pytest-cov==2.1.0
pytest-pep8==1.0.6
six==1.7.2
Sphinx==1.3
sphinx-rtd-theme==0.1.7
SQLAlchemy==1.0
unittest2==1.1.0
